@charset "UTF-8";
.single { max-width: 600px; margin: 0 auto 50px;}
.single img{ width: 100%;}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider{
  margin: 100px auto;
  width: 100%;

}
.slider img{
  height: auto;
  width: 100%;
}
/*slick setting*/
.slick-prev,
.slick-next {
  color: #000;
}
#bg-nav{
position: fixed;
left: -300px;
top: 0;
width:300px;
transition-duration: 1s;
}



.open{
  left: 0;
}
li{
  display: inline-block;
  list-style: none;
  margin-top: 30px;
  margin-left: 140px;
}
.li{
margin-left: 0;
}


.gnavi-toggle{
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
.span{
  background-color: #000;
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  transition-duration: 1s;
  transition-property: all;
  border-radius: 10px;
}
.span:nth-child(1){
  top: 0;
}
.span:nth-child(2){
  top: 0;
  bottom: 0;
  margin: auto;
}
.span:nth-child(3){
  bottom: 0;
}
.show.span{
  background-color:rgb(255, 255, 255);
  width: 80%;
}
ul{
  list-style: none;
  margin-top: 140px;
}
li{
  margin-top: 40px;
  margin-left: 200px;
}
a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.gnavi{
  background-color: rgb(67, 31, 157);
  opacity: .6;
  height:100vh;
  width: 300px;
  position: fixed;
  right: -300px;
  top: 0;
  transition-duration: 60s;
  z-index: 10;

}
.gnavi.show{
  right: 0;
}
.grey{
  margin:0 auto;
  width: 80%;
  height: 50vh;
  background-color:rgb(0, 247, 255);
  margin-top: 50px;
}
}
.single-item{
  width: 90%;
  margin:0 auto;
  height: 400px;
}
img{
  width: 80%;
  height: auto;
}
iframe{
  width: 100%;
}
h1{
  text-align: center;
  margin-top: 30px;
}
p{
  width: 80%;
  margin: auto;
  background-color: rgba(204, 189, 137,.5);
}
.h1{
  opacity: 0;
}
@media screen and (orientation:landscape){
  .h1{
    opacity: 1;
  }
  .opa{
opacity:0;
}
